# VSCODE #
.vscode

# PIP ENV #
Pipfile
Pipfile.lock

# CACHE #
djsr/djsr/__pycache__/
djsr/authentication/__pycache__/
djsr/authentication/migrations/__pycache__/
djsr/authentication/BLL/__pycache__/

# DJANGO #
# djsr/db.sqlite3
curlQueries.txt